:root {
	--primary-bg: #000000;
	--accent: #cccccc;
	--accent-light: #ff0390;
	--text-main: #666666;
	--border-color: #00ff00;
}

body {
	background: linear-gradient(180deg, #0d0d0d 0%, #101010 33%, #000000 100%);
	color: var(--text-main);
	font-family: "Roboto Condensed", sans-serif;
	min-height: 100vh;
}

.display-name {
	font-family: "Sixtyfour", sans-serif;
	font-size: clamp(2.5rem, 5vw, 4rem);
	text-align: center;
	text-shadow: 0 5px 7px rgba(0, 0, 0, 0.8);
	color: var(--accent-light);
	margin-bottom: 0.5rem;
}

.degree-name {
	font-family: "Press Start 2P", system-ui;
	color: #9d00ff;
	text-align: center;
}

.term-container {
	background: linear-gradient(-45deg, #0d0d0d 0%, #141414 50%, #000000 100%);
	border: 1px solid var(--border-color);
	border-radius: 15px;
	padding: 1.5rem;
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.8);
}

.term-title {
	font-family: "Press Start 2P", system-ui;
	color: var(--accent);
	margin-bottom: 0.4rem;
}

.term-progress {
	color: #fe6b03;
	font-style: italic;
	margin-bottom: 1rem;
}

.course-item {
	font-size: 0.9rem;
}

.course-code {
	align-items: left;
	min-width: 88px;
	padding: 0.35rem 0.6rem;
	font-family: "JetBrains Mono", monospace;
	font-weight: 700;
	font-size: 0.7rem;
	color: #fff835;
}

.course-title {
	color: var(--accent);
	font-family: "Press Start 2P", system-ui;
}

.course-instructor {
	color: #fe6b03;
	font-family: "JetBrains Mono", monospace;
}

.course-time {
	color: #00c81a;
	font-family: "JetBrains Mono", monospace;
}

.course-progress {
	color: var(--accent);
	font-family: "JetBrains Mono", monospace;
}

.list-group-item {
	background: linear-gradient(-45deg, #0d0d0d 0%, #141414 50%, #000000 100%);
	border: 1px solid var(--border-color);
	color: var(--accent);
	font-family: "JetBrains Mono", monospace;
	padding: 5px;
}

.btn {
	--bs-btn-padding-y: 0.05rem;
	--bs-btn-padding-x: 0.4rem;
	--bs-btn-font-size: 0.9rem;
}

button {
	font-family: "JetBrains Mono", monospace;
	font-size: 0.9rem;
	color: #011837;
	padding: 8px;
	text-align: center;
	background-color: #00b4fe;
	border: 0px;
	border-color: #00b4fe;
	border-radius: 12px 28px;
	box-shadow: 0 0 5px #00b4fe,
	0 0 25px #00b4fe;
}

button:hover {
	cursor: default;
	box-shadow: 0 0 5px #00b4fe,
	0 0 25px #00b4fe, 0 0 50px #00b4fe,
	0 0 75px #00b4fe, 0 0 150px #00b4fe;
}

.reading {
	font-family: "Press Start 2P", system-ui;
	color: var(--accent);
}

.grade-a {
	background-color: #0060b0;
	color: #adf4fe;
	box-shadow: 0 0 10px #0060b0;
}

.grade-b {
	background-color: #00c81a;
	color: #000000;
	box-shadow: 0 0 10px #00c81a;
}

.grade-c {
	background-color: #c8cf00;
	color: #000000;
	box-shadow: 0 0 10px #c8cf00;
}

.grade-d {
	background-color: #ec671b;
	color: #000000;
	box-shadow: 0 0 10px #ec671b;
}

.grade-f {
	background-color: #fa454f;
	color: #000000;
	box-shadow: 0 0 10px #fa454f;
}

.grade-p {
	background-color: #afafaf;
	color: #000000;
	box-shadow: 0 0 10px #afafaf;
}

.grade-pending {
	background-color: #f947b4;
	color: #000000;
	box-shadow: 0 0 10px #f947b4;
}

.bg-progress {
	background-color: #666666;
	color: #000000;
}

.bg-attendance {
	background-color: #0060b0;
	color: #ffffff;
}

.bg-assignments {
	background-color: #00c81a;
	color: #000000;
}

.bg-tests {
	background-color: #c8cf00;
	color: #000000;
}

.read {
	background-color: #00c81a;
	color: #000000;
	font-size: 0.8rem;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 0 0 10px #00c81a;
}

.unread {
	background-color: #fa454f;
	color: #000000;
	font-size: 0.8rem;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 0 0 10px #fa454f;
}

.ip {
	background-color: #f947b4;
	color: #000000;
	font-size: 0.8rem;
	border-radius: 10px;
	padding: 3px;
	box-shadow: 0 0 10px #f947b4;
}

.footer-custom {
	color: #ff0390;
	font-size: 0.95rem;
	font-weight: bold;
	text-align: center;
}